/*=================================
	 Body
=================================*/
.c-main{
	padding-top: 0!important;
}
.c-main > .container-fluid{
	padding-left: 0!important;
	padding-right: 0!important;
}
.menu-bar {
    background: #0b2a4c!important;
}
.navbar-nav > li > a, .btn-link i {
    color: white!important;
}
.top-bar {
    background-color: #e38b00!important;
    /* border-bottom: 1px solid white!important; */
    color: white!important;
}
.topbar-left ul li a, .topbar-right ul li a{
    color: white!important;
}
.section-sp2{
    padding: 0!important;
}
.bg-template{
    background-color: #e38b00!important;
}
.react-confirm-alert-body {
    background: #f5e44d!important;
}
.react-confirm-alert-button-group > button {
    background: #c11b1b!important;
}

@media screen and (max-width: 991px){
.rs-nav .menu-links {
    background-color: #0b2a4c!important;
}
.menu-links .nav {
    background: #0b2a4c!important;
}
}
@media screen and (max-width: 991px){
.rs-nav .menu-links {
    background-color: #0b2a4c!important;
}
}

.navbar-toggler span {
    background: #fff!important;
}